body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: url('gall/background.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(34, 34, 34, 0.8);
    border: 2px solid #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 900px;
    box-sizing: border-box;
    border-radius: 10px; /* 角を丸くする */
}

.left-sidebar, .right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    color: #fff;
}

.left-sidebar .illustration-container,
.right-sidebar .score-container,
.right-sidebar .controls-container,
.right-sidebar .ranking-container,
.right-sidebar .ad-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.left-sidebar .illustration-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px; /* 角を丸くする */
}

.tetris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

canvas {
    background-color: #111;
    border: 1px solid #fff;
    border-radius: 10px; /* 角を丸くする */
}
